{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
<div class="page-header">
        <h1>Rango 's about page</h1>
        </div>
     	<div>
		This's <strong>Rango's About Page</strong>
            <p><a href="/rango">Click to return to the Index page.</a><br /></p></strong>
            Here's a picture of Rango
            <p></p>
            <img  width=absolute height=absolute src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
            </div>	
            
            <button id="about-btn">Button</button>
            <div id="msg">Hello</div>

            <p> visits: {{ visits }}</p>
{% endblock %}